body{
	height: 1300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.originalDiv{
	width: 200px;
	height: 200px;
	background-color: #ff0000;
	border-radius: 100%;
	cursor: pointer;
}
